<%- include('./adminHeader.ejs')%>

<body class="d-flex flex-column justify-content-center align-items-center vh-100">
<h1 class="mb-4">Welcome to the Admin Panel</h1>
<div>
    <a href="/a0MNAc/panel/users" class="btn btn-primary btn-lg">Show Users</a>
    <a href="/a0MNAc/panel/products" class="btn btn-primary btn-lg">Show Products</a>
    <a href="/a0MNAc/panel/orders" class="btn btn-primary btn-lg">Show Orders</a>
</div>
</body>
</html>
