<%- include('./adminHeader.ejs')%>


<%- include('./navigationBar.ejs') %>

<div class="col-sm-12" >
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <% Object.keys(data).forEach(function(key) { %>
                        <th><%= key %></th>
                    <% }); %>
                </tr>
                </thead>
            <tbody>
            <% if (Object.values(data)[0]) { %>
                <% for(let i = 0; i < Object.values(data)[0].length; i++) { %>
                    <tr>
                        <% Object.keys(data).forEach(function(key) { %>
                            <td><%= data[key][i] %></td>
                        <% }); %>
                    </tr>
                <% } %>
            <% } %>
            </tbody>
        </table>

    </div>
</div>

</div>
</div>
</div>

</body>
</html>