.container-fluid {
    background-color:white;
    height:100vh;
}
.container {
    padding-top:1rem;
}
.col-sm-2{
    background-color:white;

}
.col-sm-12 {
    background-color:white;
    padding-top:1rem;

}

.table-hover {
    background-color:white;
}

.navbar {
    height: 80px;
    font-size: 1.4rem;
}

.navbar-brand {
    font-size: 2rem; /* Adjust this value to match the font size of the other links */

}